---
const { title = 'Arki', ...props } = Astro.props;
---
<title>{title}</title>
<meta name="description" content="Welcome to my portfolio!">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<link href="/global.css" rel="stylesheet" />
