@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Didact+Gothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	gap: 0;
	display: grid;
	grid-template-areas: "main header" "footer header";
	grid-template-columns: 80vw 20vw;
	font-family: 'Courier New', Courier, monospace;
	font-family: "Courier Prime", monospace;
	font-weight: 400;
	font-style: normal;
	min-height: 100vh;
}


@media screen and (max-width: 990px) {
	body {
		grid-template-columns: 100vw 5vw;
		grid-template-areas: "main header" "footer header";
	}
}


main {
	grid-area: main;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: space-between;
}

header {
	grid-area: header;
	position: relative;
	height: 100vh;
	overflow-x: hidden;
}




.initial {
	text-align: center;
	height: 1rem;
	padding: 1rem 0;
	background-color: #d8d0cd;
	border-bottom: .1rem solid #111;
}

.end {
	text-align: center;
	height: 1rem;
	padding: 2rem 0;
	background-color: #d8d0cd;
	border-bottom: .1rem solid #111;
	border-top: .1rem solid #111;
	justify-self: flex-end;
}