---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import v0_0 from '../assets/v0_0.gif'
import Arkirus from '../assets/arkirus.gif'
import Initial from '../components/Initial.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={'Arkirus | Changelog'} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Initial />
			<section class="changelog">
				<h3>
					CHANGELOG
				</h3>

				<div class="versions">
					<article class="v1_0">
						<div class="date">Dec 30 2025</div>
						<div class="info">
							<div class="info__version">
								v1.0
							</div>
							<ul class="info_characetristics">
								<li>Complete rewrite of the portfolio</li>
								<li>Introduced terminal-inspired identity</li>
								<li>Clearer structure and navigation</li>
								<li>Featured projects section</li>
							</ul>
							<figure class="preview">
								<img src={Arkirus.src} alt="first version">
								<figcaption>version 1.0</figcaption>
							</figure>
						</div>
					</article>
					<article class="v0_0">
						<div class="date">Feb 22 2024</div>
						<div class="info">
							<div class="info__version">
								v0.0
							</div>
							<ul class="info_characetristics">
								<li>Initial portfolio version</li>
								<li>Visual-focused design</li>
								<li>Less defined structure</li>
							</ul>
							<figure class="preview">
								<img src={v0_0.src} alt="first version">
								<figcaption>version 0.0</figcaption>
							</figure>
						</div>
					</article>
				</div>


			</section>
			<section class="log" id="log">
				<div id="close"></div>
				<figure>
					<img src="" alt="">
					<figcaption></figcaption>
				</figure>
			</section>
			<section class="end">
				  © 2025 arkirus · all rights reserved
			</section>
		</main>
	</body>
</html>

<style>
	.changelog {
		width: 90%;
		margin: 1rem auto;
	}

	.preview {
		width: 100%;
		display: flex;
		gap: 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		
		img {
			width: 50%;
			outline: .1rem solid #111;
			cursor: zoom-in;
		}
	}

	article {
		display: flex;
		gap: 1rem;
	}

	.log {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #111111ba;
		backdrop-filter: blur(.3rem);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		display: none;
		visibility: hidden;

		article {
			padding: 1rem;
			width: calc(30% - 2rem);
			background-color: #eee;
		}

		figure {
			width: 50%;
			
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.open {
		display: flex;
		visibility: visible;
	}

	#close {
		position: fixed;
		width: 2rem;
		height: 2rem;
		right: 0;
		top: 0;
		cursor: pointer;
		background-color: rgb(212, 54, 54);
	}
</style>

<script>
	const figures = document.querySelectorAll("figure");
	const log = document.getElementById("log");

	const close = log?.querySelector("#close");
	const logIMG = log?.querySelector("img");


	close?.addEventListener("click", () => {
		log?.classList.remove("open");
	});

	logIMG?.addEventListener("click", () => {
		log?.classList.remove("open");
	});

	figures.forEach(fig => {
		fig.addEventListener("click", () => {
			const figIMG = fig.querySelector("img");
			if (!figIMG) return;
			if (!logIMG) return;
			logIMG.src = figIMG.src;
			log?.classList.add("open");
		});
	});


</script>