<section id="about">
    <h2>whoami</h2>
    <div class="whoami">
        <p>
            I’m a frontend / fullstack developer focused on building
            clear, minimal interfaces and developer-oriented tools.
            I enjoy understanding how things work under the hood,
            especially in systems where performance and simplicity matter.
            Currently working on personal projects and exploring
            Rust, realtime applications, and UI systems.
            Outside of coding, I enjoy reading and playing video games.
            I like experiences that reward curiosity, exploration, and good design, the same things I value when building software.
        </p>
        <ul class="links">
            <li><b>Website: </b><a href="https://arkirus.fun">arkirus.fun</a></li>
            <li><b>Github: </b><a href="https://github.com/arkeasz">arkeasz</a></li>
            <li><b>Twitter / X: </b><a href="https://x.com/arkeazs">@arkeazs</a></li>
            <li><b>Email: </b><a href="mailto:yoarkirus@gmail.com">yoarkirus@gmail.com</a></li>
        </ul>
    </div>
</section>

<style>
    #about {
        margin: 0 auto;
        width: 90%;
    }

    .whoami {
        background-color: #e0d6b4;
        width: calc(100% - 2.8rem);
        padding: 1.4rem;
        line-height: 120%;
        border-radius: .5rem;
    }

    .links li {
        display: flex;
        gap: .4rem;
        padding: .3rem 0;
    }
    }
</style>