---
import File from '../assets/file.svg'
import Archive from '../assets/archive.svg'
---

<header>
	<nav>
		<a class="principal" href="/"><File/>home/</a>
		<a class="secondary" href="/#neofetch"><Archive/>neofetch</a>
		<a class="secondary" href="/#about"><Archive/>whoami</a>
		<a class="principal" href="/#"><File/>projects/</a>
		<a class="secondary" href="/#projects"><Archive/>featured.txt</a>
		<a class="secondary" href="/projects"><File/>all</a>
		<!-- <a class="principal" href="/blog"><File/>blog</a> -->
		<a class="principal" href="/changelog"><File/>changelog</a>
	</nav>
</header>

<style>
		nav {
		position: fixed;
		top: 0;
		height: 100%;
		border-left: .1rem solid #111;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: #d8d0cd;
		padding: 3rem 0;

	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		color: #4a4949;
		border-top: .1rem solid #111;
		gap: .6rem;

		&:hover {
      		background-color: #e0d6b4;
			color: #353434;
		}
		
		svg {
			width: 1.2rem;
		}
	}

			
	.principal {
		justify-content: flex-start;
		padding: 1.2rem 1rem;
	}

	.secondary {
		padding: .5rem 2rem ;
	}
</style>