---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import AllProjects from '../../components/AllProjects.vue'
import Initial from '../../components/Initial.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={'Arkirus | Projects'} description={"A collection of projects and experiments I've built. From web applications to interactive tools."} />
	</head>
	<body>
		<Header />
		<main>
			<Initial />
            <AllProjects client:only />
            <section class="end">
				  © 2025 arkirus · all rights reserved
			</section>
		</main>
	</body>
</html>


<style>
    main {
        gap: 0rem;
    }
</style>